USE [db_a8637c_hifaberp]
GO
/****** Object:  StoredProcedure [dbo].[CoatDC_Mst_ProjEdit]    Script Date: 04-05-2026 18:28:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [dbo].[CoatDC_Mst_ProjEdit]
(
    @Project_Id INT,
    @DC_Id INT,

    @RetVal INT = 0 OUT,
    @RetMsg VARCHAR(500) = '' OUT
)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY

        BEGIN TRANSACTION;

        -- CHECK DC EXISTS
        IF NOT EXISTS
        (
            SELECT 1
            FROM DC_Mst
            WHERE DC_Id = @DC_Id
        )
        BEGIN

            SET @RetVal = -1;
            SET @RetMsg = 'DC Record Not Found.';

            ROLLBACK TRANSACTION;
            RETURN;

        END


        -- CHECK PROJECT EXISTS
        IF NOT EXISTS
        (
            SELECT 1
            FROM M_Project
            WHERE Project_Id = @Project_Id
        )
        BEGIN

            SET @RetVal = -2;
            SET @RetMsg = 'Project Not Found.';

            ROLLBACK TRANSACTION;
            RETURN;

        END


        -- CHECK SAME PROJECT ALREADY ASSIGNED
        IF EXISTS
        (
            SELECT 1
            FROM DC_Mst
            WHERE DC_Id = @DC_Id
            AND Project_Id = @Project_Id
        )
        BEGIN

            SET @RetVal = -3;
            SET @RetMsg = 'Same Project Already Assigned.';

            ROLLBACK TRANSACTION;
            RETURN;

        END


        -- UPDATE PROJECT
        UPDATE DC_Mst
        SET
            Project_Id = @Project_Id
        WHERE DC_Id = @DC_Id;


        SET @RetVal = @DC_Id;
        SET @RetMsg = 'Project Updated Successfully.';

        COMMIT TRANSACTION;

    END TRY

    BEGIN CATCH

        ROLLBACK TRANSACTION;

        SET @RetVal = -99;

        SET @RetMsg =
        'Line : '
        + CAST(ERROR_LINE() AS VARCHAR)
        + ' Message : '
        + ERROR_MESSAGE();

    END CATCH

END
